{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Posts
{% endblock title %}

{% block content %}
<!-- В контенте на странице мы выводим все товары -->
   <h1>Все новости <i>({{ Posts|length }})</i> </h1>

    <hr>
   {% if Posts %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Заголовок
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Дата
               </td>
               <td>
                   Категория
               </td>
               <td>
                   Предпросмотр
               </td>
               <td>
                   Рейтинг
               </td>
               <td>
                   Тип
               </td>
               <!-- Для каждого товара будете генерироваться новая строчка,
                т.е. новый HTML код, который указан в теле цикла.
                При этом сам цикл работает точно так же, как и в Python.
                product — переменная цикла, т.е. наш товар полученный из списка -->
                {% for post in Posts %}
                <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.title }}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.category }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td>{{ post.rating|currency }}</td>
               <td>{{ post.type }}</td>
                </tr>
                {% endfor %}
                </tr> <!-- Не забываем закрыть HTML-тег строки -->
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       <h2>Новостей нет!</h2>
   {% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}